body {
  text-align: center;
}
.text {
  font-size: 10px;
}
#banner {
  
}
#content {
  margin: 0 auto;
  max-width: 1620px;
}
#item {
  float: left;
  width: 150px;
  height: 300px;
  margin-right: 30px;
}

p {
  word-wrap: break-word;
  width: 150px;
  max-height: 120px;
  overflow: hidden;
  font-size: 12px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 150px;
  max-height: 150px;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;
}

#imgContainer {
  width: 150px;
  margin: 0 auto;
{
